/* ---------------------------------------------
Table of contents
1. Global Styles
2. Header
3. Body
4. Footer (TBA)
------------------------------------------------
*/

/*
------------------------------------------------
1. Global Styles
------------------------------------------------
*/

html, 
body {
	background: #14171A;
	font-family: Cambria;
	font-size: 10px;
	color: #F5F8FA;
}

/*Behaviors for all links*/
a {
	text decoration: none!important;
	color:#1DA1F2;
}


/*
------------------------------------------------
2. Header
------------------------------------------------
*/

.sub-header {
	background-color: #657786;
	position: relative;
	z-index: 1111;
}

/*HEADINGS*/
.h1 {
    font-family:Cambria;
    text-align: center;
    font-size: xx-large;
}

/*TOP NAVIGATION BAR*/
.nav {
    padding: 5px 0;
    min-width: auto; 
    text-align: center;
}

.nav ul {
    background: linear-gradient(90deg, 
     rgba(255, 255, 255, 0) 0%, 
     rgba(255, 255, 255, 0.2) 25%, 
     rgba(255, 255, 255, 0.2) 75%, 
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.nav ul li {
    display: inline-block;
}

.nav ul li a {
    padding: 10px; 
    color: #FFFFFF;
    font-size: 18px;
    font-family:Times New Roman;
    text-decoration: none;
    display: block;
 }


/*
------------------------------------------------
3. Body
------------------------------------------------
*/

.about-me {
    width: auto;
    height: 130px;
    border-color:lightslategrey;
    border-radius: 5px;
    border-style:groove;
    box-shadow: 0 0 20px 1px #FFFFFF;
    padding: 5px;
    color: white;
    background-color:rgb(41, 42, 42);
    float: center;
    overflow: scroll;
}









